@use "src/app/styles/font" as *;
@use "src/app/styles/colors" as *;

.title {
  font-size: $fs-regular;
  color: $dark-grey;
}

.date-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.icon {
  margin-right: 8px;
}

.date {
  margin: 0;
}

.description {
  margin-bottom: 16px;
}
