@use "src/app/styles/font" as *;
@use "src/app/styles/colors" as *;

.product-card {
  padding: 0;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.product-media {
  position: relative;
  width: 100%;
}

.product-img {
  width: 100%;
  display: block;
  min-height: 250px;
  object-fit: cover;
}

.product-status {
  border-radius: 14px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;
  font-size: $fs-normal;
  font-weight: $fw-lighter;
  color: $white;
  margin: 0;
  line-height: 1;
}

.sale {
  background-color: $pink;
}

.new {
  background-color: $green;
}

.product-title-wrapper {
  padding: 16px 16px 0;
}

.product-title {
  font-size: $fs-medium;
  font-weight: $fw-lighter;
  color: $dark-grey;
  margin: 0 0 8px;
}

.product-subtitle {
  font-size: $fs-small;
  font-weight: $fw-lighter;
  color: $grey;
  margin: 0;
}

.product-price-wrapper {
  padding: 14px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: $fs-normal;
  font-weight: $fw-bold;
  color: $dark-grey;
  margin: 0;
}

.product-pop-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-pop {
  font-size: $fs-normal;
  font-weight: $fw-lighter;
  color: $yellow;
  margin: 0;
}

.pop-icon {
  padding: 0;
  font-size: 16px;
  width: 19px;
  height: 19px;
  margin-left: 4px;
}
