@use 'src/app/styles/font' as *;
@use 'src/app/styles/colors' as *;

.date-menu {
  border: none;
  width: auto;
  padding: 8px 4px 8px 4px;
}

.date-option {
  font-size: $fs-normal;
  font-weight: $fw-lighter;
  color: $dark-grey;
}
