@use "src/app/styles/variables" as *;

.settings-button {
  --mat-fab-small-container-color: transparent;
  --mat-fab-small-state-layer-color: transparent;
  --mat-fab-small-ripple-color: transparent;
  box-shadow: none !important;
  background-color: transparent !important;
  color: $settings-button-color;

  &:hover {
    background-color: rgba($blue, 0.12) !important;
    color: $settings-button-color-hover;
  }

  &__icon {
    color: inherit;
  }
}

.settings-menu {
  position: absolute;

  &__item {
    color: $dark-grey;

    &:hover {
      background-color: $settings-menu-background-color-hover;
    }
  }
}
