@use '../../../../../styles/colors' as *;
@use '../../../../../styles/toasrt' as *;

.toastr-wrapper {
  @include toastr-wrapper;
}

.toastr-wrapper-icon {
  @include toastr-wrapper-icon;
}

.toastr-close-button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.toastr-content {
  @include toastr-content;

  &__title {
    @include toastr-content-title;
  }
}

.toastr-icon {
  @include toastr-icon;
}

:host {
  @include toastr($blue);
}
