@use 'mixins' as m;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  p-toolbar {
    border-color: transparent;
    @include m.scrollable-toolbar;

    .filters {
      @include m.nowrap-inline;
    }
  }

  p-table {
    @include m.p-table;
  }

  th.selection-col,
  td.selection-col {
    width: 3rem;
    max-width: 3rem;
  }

  th.name-col,
  td.name-col {
    width: 40%;
    max-width: 35vw;
  }
}
