@use "src/app/styles/variables" as *;

.usage {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 36px;
  width: 100%;
  margin-top: 36px;

  @media(max-width: $normal) {
    grid-template-columns: 1fr;
  }
}

.usage-block {
  min-width: 0;
}
