@use 'src/app/styles/colors' as *;
@use 'src/app/styles/font' as *;

.breadcrumb-card {
  padding: 0;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  padding: 0;
  margin: 0;
}

.breadcrumb-list-item {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  font-size: $fs-regular;
  line-height: 1.2;
  min-height: 24px;
  text-decoration: none;
  outline: none;

  &.active {
    cursor: default;
    pointer-events: none;
  }
}

.text {
  display: inline-flex;
  align-items: center;
}

.icon {
  display: inline-flex;
  align-items: center;
  font-size: $fs-medium;
  width: $fs-medium;
  height: $fs-medium;
  padding: 0;
  margin-top: -1px;
}
