/* eng font */
/* korean font */
/* japanese font */
/* simplified chinese font */
/* original chinese font */
/* vietnamese font */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--color-dark) !important;
  overflow: hidden;
}
