textarea:focus {
    outline: 0;
}

div:has(textarea) {
    border-bottom: "1px solid #4493F8"
}

button:hover > svg { 
    color: white;
}

button:active > svg { 
    color: rgb(255, 255, 255, .6);
}

.dragging {
    opacity: 0.3;
}