:host {
  --menu-transition-duration: 0.3s;
  --menu-width: 12rem;
  --menu-width-narrow: calc(2 * var(--p-button-padding-x, 1rem) + 1rem);

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: var(--menu-width);
  height: 100%;
  gap: 1rem;
  position: relative;
  transition: width var(--menu-transition-duration) ease;

  app-logo {
    margin: 0.25rem 0 1rem 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition: margin var(--menu-transition-duration) ease;
  }

  .toggle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    z-index: 1;
    display: none;
  }
  &:hover .toggle {
    display: initial;
  }
  &:has(.toggle:hover) {
    background-color: var(--p-content-background);
  }

  .menu-item {
    outline: unset;
    border: unset;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    flex: 0 0 auto;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
    color: var(--p-content-color);
    background-color: transparent;
    padding: var(--p-button-padding-y) var(--p-button-padding-x);
    border-radius: var(--p-button-border-radius);
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--p-button-text-contrast-hover-background);
    }
    &.router-link-active {
      color: var(--p-primary-color);
    }

    > i,
    > p-badge {
      flex: 0 0 auto;
    }

    .label {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: opacity var(--menu-transition-duration) ease;
    }
  }

  .submenu {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    transition:
      grid-template-rows var(--menu-transition-duration) ease,
      margin-bottom var(--menu-transition-duration) ease,
      opacity var(--menu-transition-duration) ease;

    &-items {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-left: 1.5rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

:host(.narrow) {
  width: var(--menu-width-narrow);

  app-logo {
    margin-left: 0.25rem;
  }

  .menu-item .label {
    opacity: 0;
  }

  .submenu {
    grid-template-rows: 0fr;
    opacity: 0;
    // Компенсация gap хоста у схлопнутого блока
    margin-bottom: -1rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  :host {
    --menu-transition-duration: 0s;
  }
}
