.so-hstack {
  display: flex;
  flex-direction: row;
}

.so-hstack--wrap {
  flex-wrap: wrap;
}

.so-hstack--gap-1 {
  gap: var(--so-space-1);
}
.so-hstack--gap-2 {
  gap: var(--so-space-2);
}
.so-hstack--gap-3 {
  gap: var(--so-space-3);
}
.so-hstack--gap-4 {
  gap: var(--so-space-4);
}
.so-hstack--gap-5 {
  gap: var(--so-space-5);
}
.so-hstack--gap-6 {
  gap: var(--so-space-6);
}

.so-hstack--align-start {
  align-items: flex-start;
}
.so-hstack--align-center {
  align-items: center;
}
.so-hstack--align-end {
  align-items: flex-end;
}
.so-hstack--align-stretch {
  align-items: stretch;
}

.so-hstack--justify-start {
  justify-content: flex-start;
}
.so-hstack--justify-center {
  justify-content: center;
}
.so-hstack--justify-end {
  justify-content: flex-end;
}
.so-hstack--justify-between {
  justify-content: space-between;
}
.so-hstack--justify-around {
  justify-content: space-around;
}
