@use "utils";

@mixin centered-text{
  text-align: center;
  vertical-align: middle;
}

$bgColor_light: white;
$bgColor_dark: #2e2e2e;

$textColor_light: black;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;

$gridHighLightColor_light: #e8e8e8;
$gridHighLightColor_dark: #474747;

$disabledColor_light: #a1a1a1;
$disabledColor_dark: dimgrey;

// mixin that enables css variables in light mode
@mixin lighten() {
  --backgroundColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
  --borderColor: #{$borderColor_light};
  --menuButtonColor: #{utils.$color1_light_blue};
  --gridHighLightColor: #{$gridHighLightColor_light};
  --disabledColor: #{$disabledColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --backgroundColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
  --borderColor: #{$borderColor_dark};
  --menuButtonColor: #{utils.$color3_purple};
  --gridHighLightColor: #{$gridHighLightColor_dark};
  --disabledColor: #{$disabledColor_dark};
}
