.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.user-select-none {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.large {
  font-size: large;
}

.medium {
  font-size: medium;
}

.app-button {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border: 1px var(--borderColor) solid;
}

$color1_light_blue: #70F1FA;
$color2_light_green: #DBFA70;
$color3_purple: #CC71FA;
$color4_orange: #FAA870;

$main-app-margin-size: 32px;
$main-app-margin-size-medium: 16px;

$little-radius: 4px;
$big-radius: $little-radius + $little-radius;
