@use "../../styles/utils";
@use "../../styles/styles";

.app-container {
  height: 100%;

  .top-left-corner {
    position: absolute;
    top: utils.$main-app-margin-size-medium;
    left: utils.$main-app-margin-size-medium;
  }
}

.menu {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &.genre {
    justify-content: flex-end;
  }
}

.content {
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
}

.column {
  flex-direction: column;
}

.nowrap {
  white-space: nowrap;
}

.header-mobile {
  font-size: 32px;
  width: 100%;
  text-align: center;
}

#title-image {
  width: 128px;
  aspect-ratio: 1;
}

.title-image-mobile {
  width: 256px;
}

.portrait-to-landscape {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 64px;

  .portrait-to-landscape-image {
    width: 64px;
  }
}
