@use "../../../../styles/utils";

select{
  border: 1px var(--borderColor) solid;
  border-radius: utils.$little-radius;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  width: 100%;
  max-width: 300px;
}
