@import "tailwindcss";
@plugin "daisyui" {
  exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
  name: "flaggle-light";
  color-scheme: "light";
  --color-base-100: #eeeeee;
  --color-base-200: #fafafa;
  --color-base-300: #d9d9d9;
  --color-base-content: #2c2c2c;
  --color-primary: #4578f8;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #4578f8;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #4578f8;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #4578f8;
  --color-neutral-content: oklch(100% 0 0);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "flaggle-dark";
  color-scheme: "dark";
  --color-base-100: #181818;
  --color-base-200: #222222;
  --color-base-300: #313131;
  --color-base-content: oklch(100% 0 0);
  --color-primary: #4578f8;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #4578f8;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #4578f8;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #4578f8;
  --color-neutral-content: oklch(100% 0 0);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-base-content/10;
  }

  * {
    @apply touch-manipulation;
  }

  html,
  body {
    @apply h-full;
  }

  html {
    font-family: "Rubik Variable", sans-serif;
  }

  ::selection {
    @apply text-accent-content bg-accent;
  }
}

@font-face {
  font-family: "BigNoodleTitling";
  font-style: normal;
  src: url("/fonts/big_noodle_titling.ttf");
}

@font-face {
  font-family: "BigNoodleTitling";
  font-style: italic;
  src: url("/fonts/big_noodle_titling_oblique.ttf");
}

@font-face {
  font-family: "Icons";
  font-style: normal;
  src: url("/fonts/icons.ttf");
}

@utility font-title {
  @apply font-[BigNoodleTitling] text-4xl font-normal italic;
}

@utility btn {
  @apply font-normal;

  &:active:not(.btn-active) {
    translate: 0 0;
  }
}
