.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}
.custom-badge .mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

a {
  &.active {
    color: #7d00f8;
  }
}
