/* You can add global styles to this file, and also import other style files */

@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;

  * {
    box-sizing: content-box;
  }
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  //#region Styles of table header cells
  --p-datatable-header-cell-selected-background: color-mix(
    in srgb,
    var(--p-primary-400),
    var(--p-datatable-header-cell-background) 84%
  );
  p-sortIcon {
    position: relative;
    p-badge.p-sortable-column-badge {
      color: var(--p-datatable-header-cell-selected-color);
      background-color: transparent;
      position: absolute;
      top: -6px;
      right: -15px;
      width: auto;
      height: auto;
    }
  }
  //#endregion

  a {
    color: var(--p-button-text-primary-color);
  }

  // Fix for primeng accordion in v21
  .p-accordioncontent-wrapper {
    display: block;
    overflow: hidden;
  }
}
