@use "src/app/styles/variables" as *;

$breadcrumb-title-color: $grey;
$breadcrumb-active-title-color: $blue;

@mixin breadcrumb {
  .breadcrumb-list {
    .breadcrumb-list-item {
      color: $breadcrumb-title-color;
    }

    .breadcrumb-list-item.active {
      color: $breadcrumb-active-title-color;
    }
  }
}

@mixin breadcrumb-dark {
  .breadcrumb-list {
    .breadcrumb-list-item {
      color: $white;
    }

    .breadcrumb-list-item.active {
      color: $breadcrumb-active-title-color;
    }
  }
}
