@use "src/app/styles/variables" as *;

@mixin mat-paginator() {
  .mat-mdc-paginator {
    background: transparent;

    & .mat-mdc-select {
      border: none;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    & .mat-form-field-underline {
      display: none;
    }
  }
}

@mixin mat-paginator-dark() {
  .mat-mdc-paginator {
    background: transparent;
    color: $white;
  }
}
