@use "src/app/styles/variables" as *;

$raised-button-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

@mixin mat-button() {
  .mat-mdc-unelevated-button,
  .mat-mdc-raised-button,
  .mat-mdc-fab,
  .mat-mdc-mini-fab {
    color: $dark-grey;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    box-shadow: none;
  }

  .mat-mdc-unelevated-button:not(.mat-primary):not(.mat-accent):not(.mat-warn):not(.mat-success):not(.mat-info),
  .mat-mdc-raised-button:not(.mat-primary):not(.mat-accent):not(.mat-warn):not(.mat-success):not(.mat-info),
  .mat-mdc-fab:not(.mat-primary):not(.mat-accent):not(.mat-warn):not(.mat-success):not(.mat-info),
  .mat-mdc-mini-fab:not(.mat-primary):not(.mat-accent):not(.mat-warn):not(.mat-success):not(.mat-info) {
    background-color: $default;
  }

  .mat-mdc-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  .mat-mdc-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: $raised-button-shadow;
  }
}

@mixin mat-button-dark() {
  .mat-mdc-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
}
