@use "./src/app/styles/font" as *;
@use "./src/app/styles/colors" as *;

.title {
  font-size: $fs-regular;
  color: $dark-grey;
}

.text {
  font-size: $fs-normal;
  color: $grey;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.button + .button {
    margin-left: 8px;
}
