@use "../../../../styles/font" as *;
@use "../../../../styles/variables" as *;

.card {
  padding: 14px 18px 12px;
  height: 100%;
  box-sizing: border-box;

  @media (max-width: $small) {
    width: 100%;
    box-sizing: border-box;
  }
}

.card.mat-mdc-card-outlined {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.folders-wrapper {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  overflow-x: auto;
  padding-bottom: 8px;

  @media (min-width: $small) and (max-width: $xxl) {
    margin-top: 12px;
  }
}

.folder {
  width: 125px;
  min-width: 125px;
  height: 90px;
  padding: 8px;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  & + .folder {
    margin-left: 8px;
  }

  @media (max-width: $xxl) {
    margin-bottom: 16px;
  }
}

.folder-blue {
  background-image: url("../../../../../assets/user/profile/folder-blue.svg");
}

.folder-pink {
  background-image: url("../../../../../assets/user/profile/folder-pink.svg");
}

.folder-green {
  background-image: url("../../../../../assets/user/profile/folder-green.svg");
}

.folder-yellow {
  background-image: url("../../../../../assets/user/profile/folder-yellow.svg");
}

.folder-dark-blue {
  background-image: url("../../../../../assets/user/profile/folder-dark-blue.svg");
}

.folder-dark-pink {
  background-image: url("../../../../../assets/user/profile/folder-dark-pink.svg");
}

.folder-dark-green {
  background-image: url("../../../../../assets/user/profile/folder-dark-green.svg");
}

.folder-dark-yellow {
  background-image: url("../../../../../assets/user/profile/folder-dark-yellow.svg");
}

.folder-title {
  font-weight: $fw-bold;
  font-size: $fs-regular;
  line-height: 22px;
  color: $white;
  margin-bottom: 2px;
  margin-top: 14px;
}

.folder-subtitle {
  font-weight: $fw-normal;
  font-size: 13px;
  line-height: 16px;
  color: $white;
  margin: 0;
}
