@use 'mixins' as mx;

:host {
  .form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 16px;
    flex-wrap: wrap;

    &-field {
      width: calc(50% - 8px);
    }
    &-button {
      width: 100%;
    }
  }
}
