@use "../../../../../styles/font" as *;
@use "../../../../../styles/variables" as *;

@mixin grid-item {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-grid-item {
  @include grid-item;
  background-color: $blue;
}

.second-grid-item {
  @include grid-item;
  background-color: $pink;
}

.third-grid-item {
  @include grid-item;
  background-color: $yellow;
}

.equal-grid {
  display: grid;
  gap: 24px;
  margin-top: 24px;
}

.equal-grid_two {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.equal-grid_three {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: $small) {
  .equal-grid_two,
  .equal-grid_three {
    grid-template-columns: 1fr;
  }
}

.code-wrapper {
  background-color: $blue-white;
  height: auto;
  min-height: 145px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 16px 16px 0 16px;
}

.code {
  font-size: $fs-xs;
}

.blue {
  color: $blue;
}

.pink {
  color: $pink;
}

.grey {
  color: $grey;
}
