@use './src/app/styles/font' as *;
@use './src/app/styles/colors' as *;

.card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.input-title {
  font-size: $fs-normal;
  font-weight: $fw-lighter;
  color: $dark-grey;
}
