@use "../../../../styles/utils";

/* From Uiverse.io by Cybercom682 */
.number-control {
  display: flex;
  align-items: center;

  .number-left::before,
  .number-right::after {
    content: attr(data-content);
    background-color: var(--backgroundColor);;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--borderColor);;
    width: 24px;
    height: 24px;
    color: var(--textColor);
  }

  .number-left::before {
    border-bottom-left-radius: utils.$little-radius;
    border-top-left-radius: utils.$little-radius;
    content: "-";
  }

  .number-right::after {
    content: "+";
    border-bottom-right-radius: utils.$little-radius;
    border-top-right-radius: utils.$little-radius;
  }

  .number-quantity {
    padding: 0.25rem;
    width: 64px;
    height: 16px;
    -moz-appearance: textfield;
    border: 0;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--backgroundColor);
    color: var(--textColor);
  }

  .number-quantity {
    &.ng-touched.ng-invalid {
      border: 2px solid #FF0000;
      background-color: #ffe6e6;
    }
  }
}
